<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="container">       
            <form action="/generate" method="post" class="styled-form">
                
                <input class="username" type="text" name="username" placeholder="username" value="<%= username %>">
                <div class="range-box">
                    <input id="input" type="range" name="length" min="5" max="15" value="8" step="1">
                    <label for="length" style="color: rgb(233, 220, 246);">Length:</label>
                    <p style="color: rgb(233, 220, 246);"><output id="value"></output></p>
                    
                </div>

                <div class="radio-group">
                    <div class="radio-item">
                        <input  class="c1" type="checkbox" name="characters">
                        <label for="characters" style="color: rgb(233, 220, 246);">characters</label>
                    </div>
                </div>
                
                <div class="radio-group">
                    <div class="radio-item">
                        <input class="c2" type="checkbox" name="special_characters">
                        <label for="special characters" style="color: rgb(233, 220, 246);">special characters</label>
                    </div>
                </div>

                <div class="radio-group">
                    <div class="radio-item">
                        <input class="c3" type="checkbox" name="numbers">
                        <label for="numbers" style="color: rgb(233, 220, 246);">numbers</label>
                    </div>
                </div>
                

                <button class="generate">Generate Password</button>
                <input type="text" name="password" placeholder="password" value="<%= password %>">
                
            </form>
            <form action="/save" method="post">
                <input type="hidden" name="username" value="<%= username %>">
                <input type="hidden" name="password" value="<%= password %>">
                <button type="submit">Save Password</button>
            </form>
            <form action="/find" method="get">
                <button class="btn">Find password</button>
            </form>
            
    </div>
    <script src="javascripts/script.js">
        
    </script>
</body>
</html>